.container-event-detail {
    margin-top: 80px;
    height: 100vh;
    background-color: #F5F5F5;
    flex-direction: row;
    overflow: auto;
}

.event-box-section {
    /* width: 1300px; */
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    margin: 50px;
    justify-content: space-between;
}

.event-left-info-section {
    width: 140px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-logo-section {
    width: 140px;
    margin-bottom: 20px;
}

.club-logo {
    width: 140px;
    max-width: 100%;
    height: auto;
}

.event-ask-section {
    width: 140px;
}

.apply-button {
    width: 140px;
    height: 33px;
    background-image: url('/src/styles/caret-right-fill-white.svg');
    background-color: #1A2D58;
    color: white;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;

    margin-bottom: 12px;

    justify-content: space-between;
    align-items: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;

    display: flex;
    flex-direction: row;
}

.text-section {
    margin: 6px 12px 6px 12px;
}

.right-icon-section {
    margin: 6px 8px 6px 8px;
}

.inquiry-button {
    width: 140px;
    height: 33px;
    background-image: url('/src/styles/caret-right-fill-blue.svg');
    background-color: white;
    color: var(--navy, #1A2D58);
    border-radius: 4px 4px 4px 4px;
    border: 1px solid var(--navy, #1A2D58);
    cursor: pointer;

    justify-content: space-between;
    align-items: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;

    display: flex;
    flex-direction: row;
}

.event-right-description-section {
    flex: 1;
    min-width: 300px;
    margin-left: 36px;
    padding: 28px 20px 28px 20px;
    background-color: white;
    border-radius: 12px;
    background: #FFF;
    display: flex;
    flex-direction: column;
}

.event-right-first-header-section {
    height: 23px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hashtag-box-section {
    width: auto;
    display: flex;
    flex-direction: row;
}

.hashtag-box {
    height: 23px;
    padding: 4px 8px 4px 8px;
    background-color: #1A2D58;
    color: white;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    border-radius: 6px;
    background: var(--navy, #1A2D58);
    margin-right: 8px;
}

.additional-info-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
    align-items: center;
    
}

.event-holder-button {
    height: 23px;
    display: flex;
    padding: 4px 12px;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 4px;
    border: 0.6px solid var(--navy, #1A2D58);

    color: var(--navy, #1A2D58);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.calendar-button {
    height: 23px;
    width: 125px;
    display: flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 4px;
    border: 0.6px solid var(--navy, #1A2D58);

    color: var(--navy, #1A2D58);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.event-right-headline-section {
    height: 22px;
    margin-bottom: 12px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.event-right-sub-info-section {
    height: 19px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
}

.sub-info-icon {
    width: 19px;
    height: 19px;
    margin-right: 8px;
}

.sub-info-datetime-text {
    height: 19px;
    margin-right: 24px;
    color: #3D3D3D;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.sub-info-location-text {
    height: 19px;
    color: #3D3D3D;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.event-right-description-text-section {
    color: var(--dark, #1D1D1D);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

@media only screen and (max-width: 768px) {
    .event-box-section {
        /* width: 1300px; */
        width: 100%;
        max-width: 700px;
        display: flex;
        flex-direction: column;
        margin: 30px 20px 20px 20px;
    }

    .event-left-info-section {
        width: 100%;
        max-width: 700px;
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .event-logo-section {
        width: 140px;
        /* margin-bottom: 20px; */
    }

    .club-logo {
        width: 140px;
        /* max-width: 100%; */
        /* height: auto; */
    }

    .event-ask-section {
        width: auto;
        display: flex;
        flex-direction: row;
    }

    .apply-button {
        width: 110px;
        height: 33px;
        background-image: url('/src/styles/caret-right-fill-white.svg');
        background-color: #1A2D58;
        color: white;
        border-radius: 4px 4px 4px 4px;
        cursor: pointer;

        margin-bottom: 12px;

        justify-content: space-between;
        align-items: center;

        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;

        display: flex;
        flex-direction: row;
    }

    .text-section {
        margin: 5px 10px 5px 10px;
    }

    .right-icon-section {
        margin: 6px 8px 6px 8px;
    }

    .inquiry-button {
        width: 100px;
        height: 33px;
        background-image: url('/src/styles/caret-right-fill-blue.svg');
        background-color: white;
        color: var(--navy, #1A2D58);
        border-radius: 4px 4px 4px 4px;
        border: 1px solid var(--navy, #1A2D58);
        cursor: pointer;

        margin-left: 12px;
        justify-content: space-between;
        align-items: center;

        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;

        display: flex;
        flex-direction: row;
    }


    .event-right-description-section {
        width: 100%;
        max-width: 700px;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 428px) {
    .event-box-section {
        width: 100%;
        max-width: 380px;
        display: flex;
        flex-direction: column;
        margin: 30px 20px 20px 20px;
    }

    .event-left-info-section {
        width: 100%;
        max-width: 380px;
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .event-logo-section {
        width: 140px;
    }

    .club-logo {
        width: 140px;
    }

    .event-ask-section {
        width: auto;
        display: flex;
        flex-direction: row;
    }

    .apply-button {
        width: 110px;
        height: 33px;
        background-image: url('/src/styles/caret-right-fill-white.svg');
        background-color: #1A2D58;
        color: white;
        border-radius: 4px 4px 4px 4px;
        cursor: pointer;

        margin-bottom: 12px;

        justify-content: space-between;
        align-items: center;

        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;

        display: flex;
        flex-direction: row;
    }

    .text-section {
        margin: 5px 10px 5px 10px;
    }

    .right-icon-section {
        margin: 6px 8px 6px 8px;
    }

    .inquiry-button {
        width: 100px;
        height: 33px;
        background-image: url('/src/styles/caret-right-fill-blue.svg');
        background-color: white;
        color: var(--navy, #1A2D58);
        border-radius: 4px 4px 4px 4px;
        border: 1px solid var(--navy, #1A2D58);
        cursor: pointer;

        margin-left: 12px;
        justify-content: space-between;
        align-items: center;

        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;

        display: flex;
        flex-direction: row;
    }


    .event-right-description-section {
        width: 100%;
        max-width: 380px;
        margin-left: 0px;
    }

    .event-right-first-header-section {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .hashtag-box-section {
        width: auto;
        display: flex;
        flex-direction: row;
    }    
    
    .hashtag-box {
        height: 23px;
        padding: 4px 8px 4px 8px;
        background-color: #1A2D58;
        color: white;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px;
        border-radius: 6px;
        background: var(--navy, #1A2D58);
        margin-right: 8px;
        margin-bottom: 8px;
    }
    
    .additional-info-section {
        display: flex;
        flex-direction: row;    
    }
    
    .event-holder-button {
        height: 23px;
        display: flex;
        padding: 2px 10px;
        margin-right: 8px;
        justify-content: center;
        align-items: center;
        gap: 6px;
        border-radius: 4px;
        border: 0.6px solid var(--navy, #1A2D58);
    
        color: var(--navy, #1A2D58);
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .calendar-button {
        height: 23px;
        width: 105px;
        display: flex;
        padding: 2px 10px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        border: 0.6px solid var(--navy, #1A2D58);
    
        color: var(--navy, #1A2D58);
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .event-right-headline-section {
        height: 22px;
        margin-top: 12px;
        margin-bottom: 12px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }
}