.container-home {
    padding-top: 100px;
    height: 100vh;
}
.feedbackTitle{
    width: 100%;
    padding: 20px;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    /* 100% */
    letter-spacing: 1.44px;
    font-family:Figtree,sans-serif;
     color: #1A2D58;
}

.feedback_username{
    padding-left: 20px;
    margin-top: 15px;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 1.44px;
    font-family:Figtree,sans-serif;
     color: #1A2D58;
}
.feedback_content{
   
    padding: 20px;
    display: flex;
    justify-content: center;
}

#content {
    width: 100%; /* 원하는 너비로 설정 */
    height: 200px;
    
}


.submitButton {
    width: 120px;
    height: 33px;
    background-image: url('/src/styles/caret-right-fill-blue.svg');
    background-color: white;
    color: var(--navy, #1A2D58);
    border-radius: 4px 4px 4px 4px;
    border: 1px solid var(--navy, #1A2D58);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    font-family: Figtree, sans-serif;

    line-height: 22px;

    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.buttonbox{
    display: flex;
    justify-content: center;
}