/* Modal.css */
.modal-overlay {
    position: fixed;
    width: 50vw;
    height: 50vh;
    top: 50;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    width: 80%;
    max-width: 500px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1001;
    /* Set to be positioned before the overlay */
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h2 {
    margin: 0;
    font-size: 1.5em;
}

/* close button style of the modal*/
.close-button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.modal-content {
    margin-top: 20px;
}
