.container-club-detail {
    margin-top: 80px;
    height: 100vh;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: row;
    overflow: auto;
    padding: 50px;
}

.no-underline {
    text-decoration: none;
}

.left-section {
    width: 140px;
    /* margin-top: 50px; */
    /* margin-left: 36px; */
    justify-content: space-between;
    margin-right: 36px;
}

.clublogoBox {
    width: 140px;
    margin-bottom: 20px;
}

.clubLogo {
    width: 100%;
}

.text-section {
    margin: 6px 12px 6px 12px;
}

.right-icon-section {
    margin: 6px 8px 6px 8px;
}

.joinButton {
    width: 140px;
    height: 33px;
    background-image: url('/src/styles/caret-right-fill-white.svg');
    background-color: #1A2D58;
    color: white;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    font-family: Figtree, sans-serif;


    margin-bottom: 12px;

    justify-content: space-between;
    align-items: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;

    display: flex;
    flex-direction: row;
}

.linkButton {
    width: 140px;
    height: 33px;
    background-image: url('/src/styles/caret-right-fill-blue.svg');
    background-color: white;
    color: var(--navy, #1A2D58);
    border-radius: 4px 4px 4px 4px;
    border: 1px solid var(--navy, #1A2D58);
    cursor: pointer;

    justify-content: space-between;
    align-items: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    font-family: Figtree, sans-serif;

    line-height: 22px;

    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}

.right-section {
    /* width: 1130px; */
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.informationBox {
    padding: 28px 20px 28px 20px;
    background-color: white;
    border-radius: 12px;
    background: #FFF;
    margin-bottom: 36px;
}

.tagBox {
    height: 23px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.categoryBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
    align-items: center;
}

.category {
    height: 23px;
    display: flex;
    padding: 4px 12px;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 4px;
    border: 0.6px solid var(--navy, #1A2D58);

    color: var(--navy, #1A2D58);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: Figtree, sans-serif;

}

.titleBox {
    height: 22px;
    margin-bottom: 12px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    font-family: Figtree, sans-serif;
}

.members {
    padding-right: 20px;
    color: var(--dark, #1D1D1D);

    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.sponsor {
    padding-right: 20px;
    color: var(--dark, #1D1D1D);

    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.descBox {
    color: var(--dark, #1D1D1D);

    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.missionBox {
    color: #686868;

    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.activityBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pastBox {
    width: 48.5%;
    padding: 28px 20px;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    gap: 16px;
    border-radius: 12px;
    background: #FFF;
}

.pastTitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    color: var(--dark, #1D1D1D);

    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.pastContent {
    color: var(--dark, #1D1D1D);
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.scheduleBox {
    width: 48.5%;
    display: flex;
    flex-direction: column;
}

.meetingBox {
    border-radius: 12px;
    background: #FFF;
    display: flex;
    padding: 28px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 36px;
}

.subTitle {
    color: var(--dark, #1D1D1D);
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.16px;
    margin-right: 15px;
}

.detailLink {
    text-decoration: none;
    color: #1A2D58;
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.16px;


}

.detailLinkBox {
    padding-top: 6px;
    display: flex;
    justify-content: start;
}

.detailTitle {
    width: 142px;
    color: var(--dark, #1D1D1D);
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.14px;
}

.calendar-button {
    height: 23px;
    width: 100px;
    padding: 4px 7px;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    border: 0.6px solid var(--navy, #1A2D58);

    color: var(--navy, #1A2D58);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.eventBox {
    display: flex;
    padding: 28px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 12px;
    background: #FFF;
}

.individualEvent {
    padding-bottom: 16px;
}


@media only screen and (max-width: 768px) {
    .container-club-detail {
        margin-top: 60px;
        height: 100vh;
        background-color: #F5F5F5;
        display: flex;
        flex-direction: column;
        overflow: auto;
        padding: 24px;
    }

    .left-section {
        /* width: 100vw; */
        width: 744px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 24px 0px 0px 0px;
    }

    .linksBox {
        display: flex;
        flex-direction: row;
        margin-right: 24px;
    }

    .joinButton {
        width: 120px;
        height: 30px;
        background-image: url('/src/styles/caret-right-fill-white.svg');
        background-color: #1A2D58;
        color: white;
        border-radius: 4px 4px 4px 4px;
        cursor: pointer;
        font-family: Figtree, sans-serif;


        margin-bottom: 12px;

        justify-content: space-between;
        align-items: center;

        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;

        display: flex;
        flex-direction: row;
    }

    .linkButton {
        width: 120px;
        height: 30px;
        background-image: url('/src/styles/caret-right-fill-blue.svg');
        background-color: white;
        color: var(--navy, #1A2D58);
        border-radius: 4px 4px 4px 4px;
        border: 1px solid var(--navy, #1A2D58);
        cursor: pointer;

        justify-content: space-between;
        align-items: center;

        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        font-family: Figtree, sans-serif;

        line-height: 22px;

        display: flex;
        flex-direction: row;
        margin-bottom: 12px;
        margin-left: 10px;
    }

    .right-section {
        flex: 1;
        min-width: 300px;
        display: flex;
        flex-direction: column;
    }

    .informationBox {
        padding: 28px 20px 28px 20px;
        background-color: white;
        border-radius: 12px;
        background: #FFF;
        margin-bottom: 24px;
    }
}

@media only screen and (max-width: 428px) {
    .container-club-detail {
        margin-top: 60px;
        height: 100vh;
        background-color: #F5F5F5;
        display: flex;
        flex-direction: column;
        overflow: auto;
        padding: 18px;
    }

    .left-section {
        width: 410px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 24px 0px 0px 0px;
    }

    .linksBox {
        display: flex;
        flex-direction: row;
        margin-right: 18px;
    }

    .joinButton {
        width: 90px;
        height: 24px;
        background-image: url('/src/styles/caret-right-fill-white.svg');
        background-color: #1A2D58;
        color: white;
        border-radius: 4px 4px 4px 4px;
        cursor: pointer;
        font-family: Figtree, sans-serif;

        margin-bottom: 12px;

        justify-content: space-between;
        align-items: center;

        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }

    .linkButton {
        width: 110px;
        height: 24px;
        background-image: url('/src/styles/caret-right-fill-blue.svg');
        background-color: white;
        color: var(--navy, #1A2D58);
        border-radius: 4px 4px 4px 4px;
        border: 1px solid var(--navy, #1A2D58);
        cursor: pointer;

        justify-content: space-between;
        align-items: center;

        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        font-family: Figtree, sans-serif;

        line-height: 18px;
        margin-left: 10px;
    }

    .right-section {
        flex: 1;
        min-width: 300px;
        display: flex;
        flex-direction: column;
    }

    .informationBox {
        padding: 24px 16px 24px 16px;
        background-color: white;
        border-radius: 12px;
        background: #FFF;
        margin-bottom: 20px;
    }

    .activityBox {
        display: flex;
        flex-direction: column;
    }
    
    .pastBox {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .scheduleBox {
        width: 100%;
    }
    .meetingBox {
        width: 100%;
        margin-bottom: 20px;
    }
}


@media only screen and (max-width: 375px) {
    .container-club-detail {
        margin-top: 60px;
        height: 100vh;
        background-color: #F5F5F5;
        display: flex;
        flex-direction: column;
        overflow: auto;
        padding: 12px;
    }

    .left-section {
        width: 363px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 24px 0px 0px 0px;
    }

    .linksBox {
        display: flex;
        flex-direction: row;
        /* margin-right: 18px; */
    }

    .joinButton {
        width: fit-content;
        height: 24px;
        background-image: url('/src/styles/caret-right-fill-white.svg');
        background-color: #1A2D58;
        color: white;
        border-radius: 4px 4px 4px 4px;
        cursor: pointer;
        font-family: Figtree, sans-serif;

        margin-bottom: 12px;

        justify-content: space-between;
        align-items: center;

        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }

    .linkButton {
        width: max-content;
        height: 24px;
        background-image: url('/src/styles/caret-right-fill-blue.svg');
        background-color: white;
        color: var(--navy, #1A2D58);
        border-radius: 4px 4px 4px 4px;
        border: 1px solid var(--navy, #1A2D58);
        cursor: pointer;

        justify-content: space-between;
        align-items: center;

        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        font-family: Figtree, sans-serif;

        line-height: 18px;
        margin-left: 10px;
    }

    .right-section {
        flex: 1;
        min-width: 300px;
        display: flex;
        flex-direction: column;
    }

    .informationBox {
        padding: 24px 16px 24px 16px;
        background-color: white;
        border-radius: 12px;
        background: #FFF;
        margin-bottom: 20px;
    }

    .activityBox {
        display: flex;
        flex-direction: column;
    }
    
    .pastBox {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .scheduleBox {
        width: 100%;
    }
    .meetingBox {
        width: 100%;
        margin-bottom: 20px;
    }
}